//bs-autocomplete-search
.bs-autocomplete-search {
    display: inline-block;
    position: relative;
    @include transition(all 0.2s ease-out 0.1s);
    .input-group {
        @include transition(all 0.2s ease-out 0.1s);
        width: 30px;
        .form-control {
            background: transparent;
            border: none;
            font-size: 14px;
            padding: 0;
            width: 0;
            @include transition(all 0.2s ease-out 0.1s);
        }
        .input-group-btn {
            font-size: 20px;
        }
    }
    .search-list {
        margin-top: 5px;
        background: $clr-root;
        border-radius: 5px;
        border: 1px solid $clr-sec-alternate;
        padding: 10px;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        z-index: 2;
        @include transition(all 0.2s ease-out 0.1s);
        >ul {
            >li {
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.search-open {
        .search-list {
            opacity: 1;
        }
    }
    &.active {
        width: 300px;
        margin-left: 20px;
        .input-group {
            width: 100%;
            border-bottom: 1px solid $clr-base-sec;
            .form-control {
                width: 100%;
                padding: 5px 10px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .bs-autocomplete-search {
        position: absolute;
        right: 40px;
        .input-group {
            float: right;
            .input-group-btn {
                position: absolute;
                right: 0;
                top: -5px;
            }
            .form-control {
                width: 100%;
            }
        }
        &.active {
            width: 60%;
            margin-left: 20px;
            .input-group {
                float: right;
                .form-control {
                    width: 100%;
                    padding: 1px 10px;
                    font-size: 12px;
                    height: auto;
                }
            }
        }
        .search-list {
            position: relative;
            z-index: 0;
        }
    }
}