/* Variables.scss */


/* colors */

$clr-root: #ffffff;
$clr-base: #595959;
$clr-base-sec: #b5b5b5;
$clr-default: #034ea2;
$clr-primary: #ee2b33;
$clr-sec-alternate:#f6f6f6;
$clr-fb:#3b5998;
$clr-twitter:#1da1f2;
$clr-linkedin:#0077b5;
$clr-youtube:#cd201f;
$clr-select:#4469af;

/* Font Weight */

$font-light:300;
$font-normal:400;
$font-medium:500;
$font-bold:700;

/* breakpoints */

$mobile-breakpoint: 768px;