/* element.scss */

body {
    background: $clr-root;
    font-size: 15px;
    color: $clr-base;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    &:last-child{
        margin-bottom: 0;
    }

}

a,
a:hover,
a:focus,
a:active {
    color: $clr-base;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}