            .bs-rangeslider {
                width: 322px;
                .slider-cont {
                    label {
                        font-size: 14px;
                        color: $clr-base;
                        margin-bottom: 25px;
                        strong {
                            font-weight: $font-medium;
                        }
                        &+input {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
                .range-values {
                    width: 100%;
                    .list-item {
                        float: left;
                        font-size: 10px;
                        font-weight: $font-medium;
                        color: $clr-base;
                        text-align: center;
                        margin-top: 15px;
                        &:first-child {
                            text-align: left;
                        }
                        &:last-child {
                            text-align: right;
                        }
                        &.active {
                            color: #034ea2;
                            font-size: 14px;
                            font-weight: $font-bold;
                            transition: all .3s ease-in;
                        }
                    }
                }
            }

            .ui-slider {
                background: #f8f8f8;
                border: 0;
                height: 4px;
                border-radius: 4px;
                width: 322px;
                &.ui-widget {
                    &.ui-widget-content {
                        border: 0;
                        .ui-widget-header {
                            background: #034ea2;
                        }
                        .ui-state-default {
                            //background: url('../img/handle.svg') no-repeat transparent 0 0;
                            width: 28px;
                            height: 59px;
                            top: auto;
                            bottom: -6px;
                            border: 0;
                            margin: 0 0 0 -14px;
                            cursor: pointer;
                            &:focus {
                                outline: none;
                            }
                        }
                        &.happy {
                            .ui-state-default {
                               // background: url('../img/handle1.svg') no-repeat transparent 0 0;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width:768px) {
                .bs-rangeslider {
                    width: 100%;
                    margin-bottom: 60px;
                }
            }